
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Aria , sans-serif;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url(fondo.png);
            background-size: cover;
            background-position: center;
        }
        .container{
            width: 100%;
            height: 100vh;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        label{
            color: #45f3ff;
            font-size: 16px;
            position: absolute;
            left: 5px;
            top: 2px;
            transition: 0.5s ease all;
            pointer-events: none;
        }



        .box{
            position: relative;
            width: 410px;
            height: 620px;
            background: #1c1c1c;
            border-radius: 8px;
            overflow: hidden;
        }
        .box::before{
            content:'';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 420px;
            background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
        }
        .box::after{
            content:'';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 420px;
            background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }
        @keyframes animate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        .form{
            position: absolute;
            inset: 6px;
            border-radius: 8px;
            background-image: linear-gradient(to bottom right, #2ecc8a, #212227);
            z-index: 10;
            padding: 80px 40px; 
            display: flex;
            flex-direction: column;
        }
        .form h2{
            color: #45f3ff;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.1em;
        }
        .form h3{
            color: #45f3ff;
            font-weight: 100;
            text-align: center;
            letter-spacing: 0.1em;
        }
        .inputBox{
            position: relative;
            width: 300px;
            margin-top: 25px;
            
        }
        .inputBox input{
            margin-top: 15px;
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            border: none;
            outline: none;
            color: #23242a;
            font-size: 1.2em;
            letter-spacing: 0.05em;
            z-index: 10;

        }
        .inputBox span{
            position: absolute;
            left: 0;
            padding: 30px 0px 10px;
            font-size: 1em;
            color: #fdfdfd;
            pointer-events: none;
            letter-spacing: 0.05em;
            transition: 0.5s;
        }
       
        .inputBox input:valid ~ span,
        .inputBox input:focus ~ span
        {
            color: #45f3ff;
            transform: translateX(0px) translateY(-50px);
            font-size: 0.9em;
        }
        .inputBox i{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #eeeeee;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }
        .inputBox input:valid ~ i,
        .inputBox input:focus ~ i
        {
            height: 44px;
        }
        .links{
            display: flex;
            justify-content: space-between;
        }
        .links a{
           position: relative;
           left: -20px;
           top: 25px;
            font-size: 1em;
            color: #eee5e5;
            text-decoration: none;
        }
        .links a:hover,
        .links a:nth-child(2)
        {
            color: #e4e1e1;
        }
        input[type="submit"]{
            border: none;
            outline: none;
            background: #45f3ff;
            padding: 11px 25px;
            width: 100px;
            margin-top: px;
            border-radius: 4px;
            font-weight: 600;
            cursor: pointer;

        }

        button{
            font-family: 'roboto';
            background: #5e6064;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #B06AB3, #6578b4);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #B06AB3, #acb8e4);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border: none;
            display: block;
            width: 90%;
            margin: 10px auto;
            color: #fff;
            height: 40px;
            font-size: 16px;
            cursor: pointer;
        }

       
           
    